.DS_Store

node_modules/

.cache/
.asset-cache/
.sass-cache/

site/*/*/ksio/
site/*/_assets/*/ksio/
site/*/_assets/*/knosys/
site/*/_data/knosys/
site/*/_knosys/
site/*/_site/
site/*/_pages/explore/*/