---
layout: ksio/default
css:
  - pages/index
body-class:
  - has-headerImage
permalink: index.html
---

{% include ksio/header.html %}
<main class="Page-content">
  {% assign banner_url = "local/pages/index/banner" | asset_path %}
  <div class="Page-banner hidden-xs" style="background-image: url('{{ banner_url }}');">
    <figure class="sr-only">
      <img src="{{ banner_url }}" alt="Knowledge Graphs – Connecting the Dots in an Increasingly Complex World">
      <figcaption><a href="https://semantic-web.com/knowledge-graphs-connecting-dots-increasingly-complex-world/" target="_blank" target="_blank" rel="nofollow">Knowledge Graphs – Connecting the Dots in an Increasingly Complex World</a></figcaption>
    </figure>
  </div>
  <div class="container">
    <article class="Page-main Article">
      <header class="Article-header HomeHeader">
        <div>
          <h1 class="Article-title HomeHeader-title">{{ site.title }}</h1>
          <p class="HomeHeader-slogan">{{ site.tagline }}</p>
        </div>
      </header>
      <div class="Article-content">
        <h2>在现实生活中探索</h2>
        <p>肉身所在之处才是「真实」，是不容忽视的——</p>
        <h3>徒步</h3>
        <p>闲暇时光可亲自走走以下路线：</p>
        {% assign limit_count = 8 %}
        {% assign render_count = 0 %}
        <div class="EntryList">
          <ul class="EntryList-content">
            {% assign collection_data_store = site.data.knosys.entity.routes %}
            {% for id in collection_data_store.sequence reversed %}
              {% if render_count == limit_count %}
                {% break %}
              {% else %}
                {% assign render_count = render_count | plus: 1 %}
                {% assign route = collection_data_store.items[id] %}
                {% if collection_data_store.sequence.size > limit_count and render_count == limit_count %}
                  {% assign more_count = collection_data_store.sequence.size | minus: limit_count %}
                {% else %}
                  {% assign more_count = 0 %}
                {% endif %}
                {% include explore/item.html collection="routes" id=id entry=route more=more_count %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <h2>在虚拟世界中翱翔</h2>
        <p>疲于应对「真实」中的琐碎之余，应当一时跳脱出去，神游一会儿——</p>
        {% assign limit_count = 12 %}
        {% assign entry_collections = "dramas publications" | split: " " %}
        {% for collection in entry_collections %}
          {% assign render_count = 0 %}
          {% if collection == "dramas" %}
            {% assign collection_title = "戏剧" %}
            {% assign collection_brief = "各类影视作品" %}
          {% elsif collection == "publications" %}
            {% assign collection_title = "读物" %}
            {% assign collection_brief = "各类出版物" %}
          {% endif %}
          <h3>{{ collection_title }}</h3>
          <p>{{ collection_brief }}：</p>
          <div class="EntryList">
            <ul class="EntryList-content">
              {% assign collection_data_store = site.data.knosys.entity[collection] %}
              {% for id in collection_data_store.sequence reversed %}
                {% if render_count == limit_count %}
                  {% break %}
                {% else %}
                  {% assign render_count = render_count | plus: 1 %}
                  {% assign entry = collection_data_store.items[id] %}
                  {% if collection_data_store.sequence.size > limit_count and render_count == limit_count %}
                    {% assign more_count = collection_data_store.sequence.size | minus: limit_count %}
                  {% else %}
                    {% assign more_count = 0 %}
                  {% endif %}
                  {% include explore/item.html collection=collection id=id entry=entry more=more_count %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
</main>
{% include ksio/footer.html %}
