@import "../helper";

.MemberList {
  margin: -12px -12px 0;
  padding-left: 0;
  overflow: hidden;

  &-item {
    float: left;
    width: 20%;
    padding: 12px;
    list-style: none inside none;
  }

  @media all and (max-width: $screen-sm-max) {
    &-item {
      width: 33.33333%;
    }
  }
}

.TeamMember {
  &-figure {
    margin-bottom: 0 !important;
  }

  &-avatar {
    position: relative;
    border: 1px solid #eee;
    border-radius: 50%;
    overflow: hidden;

    &,
    img {
      display: block;
    }

    img {
      max-width: 100% !important;
    }

    &:after {
      content: "\0020";
      background-color: #000;
      opacity: 0;
      @include stretch;
    }

    &:hover {
      cursor: pointer;

      &:after {
        opacity: .5;
      }
    }
  }

  &-brief {
    margin-top: 8px;
    font-size: 16px !important;

    a {
      font-weight: bold;
    }
  }

  &--joinUs &-avatar span,
  &--joinUs &-brief {
    color: transparent;
  }

  &--joinUs &-avatar {
    border: 1px dashed #ccc;
    background-color: #f6f6f6;
    @include aspect_ratio(100%, 100%);

    span {
      text-align: center;

      &:after {
        content: "你";
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin-top: -40px;
        font: {
          size: 80px;
          weight: bold;
        }
        line-height: 1;
        color: #333;
      }
    }

    &:hover {
      background-color: transparent;

      span {
        &:after {
          content: "来吗";
          margin-top: -25px;
          font-size: 50px;
          color: #fff;
        }
      }
    }
  }

  @media all and (max-width: $screen-sm-max) {
    &--joinUs &-avatar {
      span:after {
        margin-top: -32px;
        font-size: 64px;
      }

      &:hover span:after {
        margin-top: -20px;
        font-size: 40px;
      }
    }
  }
}
