@import "../helper";
@import "../components/entry-list";

.HomeHeader {
  text-align: center;

  &-title {
    margin-bottom: 25px !important;
    font-size: 10rem !important;
    font-weight: 700;
  }

  &-slogan {
    margin-bottom: 10px !important;
    font-size: 25px;
    font-weight: normal;
  }
}

.EntryItem--cover {
  @media (min-width: $screen-lg-min) {
    width: percentage(1 / 6);
  }
}
